// В этом файле должны быть стили только для БЭМ-блока field-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

.field-select {
  display: block;
  margin-bottom: $field-margin-bottom;
  &__name {
    display: block;
  }


  &__select-wrap {
    position: relative;
    border-radius: $border-radius;
    background-color: $color-blue;
    height: 2rem;
    &:after {
      position: absolute;
      right: 0;
      top : 0;
      content: "\f107";
      font-family : "FontAwesome";
      height: 100%;
      width: 2rem;
      line-height: 2rem;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      text-align : center;
      background-color : $color-green;
      color: $color-white;
    }
  }

  &__select {
    @include field;
    position : absolute;
    top :0;
    left: 0;
    padding-right: 2rem;
    z-index : 2;
    background-color : transparent;
    appearance: none;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lightest;
    }
    option {
      background-color : $color-blue;
    }

  }

  &__help-text {
    @include field-help-text;
  }
}
