// В этом файле должны быть стили только для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.social {
  $block-name:          &;
  font-size: 0;
  &--footer {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid $color-white;
    padding-top: 1rem;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1em;
    & + & {
      margin-left: 1rem;
    }
    > .icon {
      vertical-align: baseline;
    }
    #{$block-name}--white & {
      color: $color-white;
      border-color: $color-white;
      @include transitions(all);
      &:hover {
        color: darken($color-white, 10%);
        border-color: darken($color-white, 10%);
      }

    }
    #{$block-name}--footer & + & {
      margin-left: 2rem;
    }
    &--circle {
      border: 0.125em solid $color-green;
      width: 2em;
      text-align : center;
      height: 2em;
      padding: .375em 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

  }

}
