// В этом файле должны быть стили только для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$menu-desktop-width:          $global-width;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {
  $block-name:                &;
  position: relative;
  //background-color: rgba(0,0,0,.47);
  &--header-bottom {
    background: transparent;
  }
  // первый уровень
  @media (min-width: $menu-desktop-width) {

  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @media (max-width: ($menu-desktop-width - px-to-rem(1))) {
      // открытие/закрытие меню только в случае работающего JS
      .js & {
        overflow-y: auto;
        max-height: 0;
        @include transitions(max-height);
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
      }
      .js #{$block-name}--open > & {
        padding-bottom: .5rem;
      }
    }


    @media (min-width: $menu-desktop-width) {
      display: flex;
    }

  }

  &__item {
    white-space: nowrap;
    @media (min-width: $menu-desktop-width) {
      overflow: hidden
    }
    &--active {
      @media (min-width: $menu-desktop-width) {
        background-color: $color-green;
      }
    }
    &:hover {
      @media (min-width: $menu-desktop-width) {
        background-color: $color-green;
        overflow: inherit;
      }
    }
    @media (min-width: $menu-desktop-width) {
      @include transitions(background-color);
      position: relative;
      flex: 1 1 auto;
      text-align: center;
      line-height: 1rem;
    }

  }

  &__link {
    display: block;
    padding: .5rem 0;
    color: $color-white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color-white;
      text-decoration: none;
    }
    @media (min-width: $menu-desktop-width) {
      padding: 1rem 0;
    }

  }

  &__lvl {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.47);
    @media (min-width: $menu-desktop-width) {
      padding: 0 0 1rem 0;
      margin: 0;
      border: none;
      background-color: $color-green;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      opacity: 0;
      height: 0;
      transition: opacity $transition-time;
      #{$block-name}__item--show-child > &,
      #{$block-name}__item:hover & {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
    }
    & & {
      background: $color-gray;
      padding: 1rem 0;
      left: 100%;
      top:0;
    }
    & & & {
      background: $color-gray-light;
      #{$block-name}__link {
        color: $color-gray;
      }
    }
    #{$block-name}__link {
      color: $color-yellow;
      @media (min-width: $menu-desktop-width) {
        padding: 0 1rem;
        display: block;
        width:100%;
        text-decoration: underline;
        color: $color-white;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
      #{$block-name}__item:first-child & {
        padding-top: 0;}
      #{$block-name}__item:last-child & {
        padding-bottom: 0;}
    }
    #{$block-name}__item {
      @media (min-width: $menu-desktop-width) {
        text-align: left;
        line-height: $line-height;
        display: flex;

        &:hover {
          background: none;
        }
      }
    }
    #{$block-name}__list {
      @media (min-width: $menu-desktop-width) {
        display: block;
      }
    }
  }
  &__arrow {
    color: $color-white;
    margin-left: 1rem;
    float: right;
  }


  // переключатель

  &__toggler {
    text-align: center;
    padding: px-to-rem(8);
    .no-js & {
      display: none;
    }


    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
