// В этом файле должны быть стили только для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$menu-desktop-width:          $global-width;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {
  $block-name:                &;
  position: relative;
  background: $color-blue-dark;
  &--header-bottom {
    background: transparent;
  }
  // первый уровень
  @media (min-width: $menu-desktop-width) {

  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @media (max-width: ($menu-desktop-width - px-to-rem(1))) {
      // открытие/закрытие меню только в случае работающего JS
      .js & {
        overflow-y: auto;
        max-height: 0;
        @include transitions(max-height);
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
      }
      .js #{$block-name}--open > & {
        padding-bottom: .5rem;
      }
    }


    @media (min-width: $menu-desktop-width) {
      display: flex;
    }
    &--lvl-2 {
      @media (min-width: $menu-desktop-width) {
        display: block;
      }
    }
  }

  &__item {
    white-space: nowrap;
    @media (min-width: $menu-desktop-width) {
      overflow: hidden
    }
    &--active {
      @media (min-width: $menu-desktop-width) {
        background-color: $color-green;
      }
    }
    &:hover {

      @media (min-width: $menu-desktop-width) {
        background-color: $color-green;
        overflow: inherit;
      }
    }
    @media (min-width: $menu-desktop-width) {
      @include transitions(background-color);
      position: relative;
      flex: 1 1 auto;
      text-align: center;
      line-height: 1rem;
    }
    &--lvl-2 {
      @media (min-width: $menu-desktop-width) {
        text-align: left;
        line-height: $line-height;
      }
    }
  }

  &__link {
    display: block;
    padding: .5rem 0;
    color: $color-white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color-white;
      text-decoration: none;
    }
    @media (min-width: $menu-desktop-width) {
      padding: 1rem 0;
    }
    &--lvl-2 {
      color: $color-yellow;
      @media (min-width: $menu-desktop-width) {
        padding: 0;
        display: inline;
        text-decoration: underline;
        color: $color-white;
      }
      #{$block-name}__item--lvl-2:first-child & {
        padding-top: 0;}
      #{$block-name}__item--lvl-2:last-child & {
        padding-bottom: 0;}
    }

    &--lvl-3 {

      @media (max-width: ($menu-desktop-width - px-to-rem(1))) {
        padding-left: 2.4em;
      }
    }
  }

  &__lvl {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.47);
    @media (min-width: $menu-desktop-width) {
      padding: 0 1rem 1rem 1rem;
      margin: 0;
      border: none;
      background-color: $color-green;
    }
    &--2 {
      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        opacity: 0;
        height: 0;
        transition: opacity $transition-time;
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }

    &--3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }
  }



  // переключатель

  &__toggler {
    text-align: center;
    padding: px-to-rem(8);
    .no-js & {
      display: none;
    }


    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
