// Variables
// ---------------------------
$default-grid-columns: 12 !default;
$default-grid-gutter: 1rem !default;
$default-grid-gutter-mini: .5rem !default;
$default-class-container: "grid" !default;
$default-class-cell: "#{$default-class-container}__cell" !default;
$default-breakpoint : "";
$line-height: 1.25em !default;

// Add additional sizes if necessary, highly recommended you change this to be
// tailored to your breakpoints, that match the design.
$default-grid-map: (
  xs  : 480px,
  sm  : 640px,
  md  : 800px,
  lg  : 992px,
  xl  : 1020px,
  xxl : 1180px
) !default;
$default-grid-font-size-normal: 1rem !default;

// Grid container
// ---------------------------
@mixin grid-container(
  $grid-gutter        : $default-grid-gutter,
  $grid-gutter-mini   : $default-grid-gutter-mini,
  $class-container    : $default-class-container
) {
	.#{$class-container} {
		display: block;
		padding: 0;
		margin: 0;
		font-size: 0;
		line-height: 0}

	.#{$class-container}--with-gutter {
		margin: 0 #{-$grid-gutter}; }

	.#{$class-container}--with-gutter-mini {
		margin: 0 #{-$grid-gutter-mini}; }

	.#{$class-container}--center {
		text-align: center; }

	.#{$class-container}--right {
		text-align: right; }

	.#{$class-container}--middle {}

	.#{$class-container}--justify {
		text-align: justify; }
	.#{$class-container}--justify:after {
		content: '';
		display: inline-block;
		width: 100%;

	}

}

// Grid cell
// ---------------------------
@mixin grid-cell-font-size(
  $grid-map: $default-grid-map
) {
	font-size: $default-grid-font-size-normal; }

@mixin grid-cell(
	$grid-gutter  :$default-grid-gutter,
	$grid-gutter-mini  :$default-grid-gutter-mini,
	$grid-map     :$default-grid-map,
  $class-cell   :$default-class-cell,
  $class-container : $default-class-container
) {
	.#{$class-cell} {
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: top;
		line-height: $line-height;
		width: 100%;
		@include grid-cell-font-size($grid-map);
  }

	.#{$class-container}--with-gutter > .#{$class-cell} {
		padding: 0 $grid-gutter; }

  .#{$class-container}--with-gutter-mini > .#{$class-cell} {
    padding: 0 $grid-gutter-mini; }

	.#{$class-container}--middle > .#{$class-cell} {
		vertical-align: middle; }

	.#{$class-container}--bottom > .#{$class-cell} {
		vertical-align: bottom; }
}


// Grid widths
// ---------------------------
@mixin grid-width-default(
	$grid-columns	: $default-grid-columns,
  $grid-map			: $default-grid-map,
  $class-cell   : $default-class-cell,
  $breakpoint   : $default-breakpoint
) {
	$column-increment: 1;
  
  @if $breakpoint != "" {
    $breakpoint: "#{$breakpoint}-";
  }
  
  @for $column-increment from 1 through $grid-columns {
    .#{$class-cell}--#{$breakpoint}#{$column-increment} {
      $w: (100% / $grid-columns) * $column-increment;
      width: $w; } }
  
  $up: 0;
  @for $i from 1 through 4 {
    @for $j from 2 + $up through 5 {
      .#{$class-cell}--#{$breakpoint}#{$i}-#{$j} {
        $w: ($i / $j)*100%;
        width: $w;
      }
    }
    $up: $up + 1;
  }
  .#{$class-cell}--#{$breakpoint}auto {
    width: auto;
  }
}

@mixin grid-width-bp(
	$grid-map			: $default-grid-map
) {

	@each $breakpoint, $width in $grid-map {
		@media (min-width: $width) {
      @include grid-width-default(
          $breakpoint: $breakpoint
      );
    }
  }
}

// Simple grid using
// display: inline-block
// ---------------------------
@mixin grid(
	$grid-columns	: $default-grid-columns,
	$grid-gutter	: $default-grid-gutter,
	$grid-gutter-mini	: $default-grid-gutter-mini,
	$grid-map			: $default-grid-map
) {
	@include grid-container($grid-gutter);
	@include grid-cell($grid-gutter, $grid-map: $grid-map);
	@include grid-width-default($grid-columns, $grid-map: $grid-map);
	@include grid-width-bp($grid-map);}

@include grid;