
// Make viewport responsive
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { /* stylelint-disable-line  at-rule-no-vendor-prefix */
    width: device-width;
  }
}

.page { // html
  $block-name:                &;
  box-sizing: border-box;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $color-gray;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; /* stylelint-disable-line  property-no-vendor-prefix */
  min-height: 100%;
  height: 100%;
  background-image: url(../img/blue-sky-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size:cover;
  &__line {
    padding: px-to-rem(16) 0;

    &--gray-light {background-color: #F8F8F8;}
    &--gray {background-color: #898989;}
    &--white {background-color: #FFF;}
    &--green {background-color: #70C051;}
    &--yellow {background-color: #FFC859;}
    &--orange {background-color: #F26829;}
    &--blue {background-color: #C1E0FF;}
    &--blue-dark {background-color: #042550;}
    &--header-top {
      padding: 0;
    }
    &--header-middle {
      text-align: center;
    }
    &--header-bottom {
      @extend .page__line--header-top;
      background-color: rgba(0,0,0,.47);
    }
    &--slider {
      height: 440px;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important;
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

img {
  max-width: 100%;
  height: auto;
}
