// В этом файле должны быть стили только для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {
  padding: 0;
  list-style: none;
  margin: 0;
  &__item {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    line-height: $line-height;
    color: $color-white;
    &:not(:last-child):after {
      font-family: "FontAwesome";
      content: '\f105';
      display: inline-block;
      margin: 0 1rem;
      font-size: px-to-rem(18);
      vertical-align: middle;
      color: transparentize($color-white, 0.5);
    }
  }

  &__link {
    color: $color-white;
    text-decoration: underline;
    line-height: inherit;
    display : inline-block;
    vertical-align: middle;
    &:hover,
    &:focus {
      color: darken($color-white, 10%);
      text-decoration: none;
    }
  }
}
