// В этом файле должны быть стили только для БЭМ-блока heading, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$heading-font-size        : 1.5rem !default;
$heading-font-size-small  : 1.25rem !default;
$heading-font-size-medium : 1.25rem !default;
$heading-line-height      : normal !default;

.heading {
  font-size   : $heading-font-size;
  line-height : $heading-line-height;
  margin: 0;
  &--medium {
    line-height : normal;
    font-size   : $heading-font-size-medium;
  }
  &--small {
    line-height : normal;
    font-size   : $heading-font-size-small;
  }
}
