// В этом файле должны быть стили только для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$button-bg-color:             #898989 !default;
$button-bg-color--hover:      darken(#898989, 10%) !default;
$button-text-color:           #fff !default;
$button-text-color--hover:    #fff !default;

$button-line-height:          1.25em !default;
$button-font-size:            1rem !default;
$button-border-radius:        4px !default;

$button-padding-vertical:      0.375em !default;
$button-padding-horizontal:    1em !default;

$default-buttons-colors: (
    "green"     : #70C051,
    "yellow"    : #FFC859,
    "orange"    : #F26829,
    "blue"      : #C1E0FF,
    "blue-dark" : #042550
) !default;

.btn {
  $block-name:         &;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $button-padding-vertical  $button-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: $button-font-size;
  font-family: inherit;
  line-height: $button-line-height;
  text-decoration: none;
  text-transform: none;
  color: $button-text-color;
  border-radius: $button-border-radius;
  border: none;
  background-color: $button-bg-color;
  background-image: none;
  cursor: pointer;
  @include transitions(all);

  &:hover,
  &:focus {
    text-decoration: none;
    color: $button-text-color--hover;
    background-color: darken($button-bg-color, 10%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }
  &--underline {
    text-decoration : underline;
    &:hover {
      text-decoration : none;
    }
  }
  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $text-color;
    background-color: lighten($button-bg-color, 10%);

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
  &--expand {
    display: block;
    width: 100%;
  }
  &--auto {
    display: inline-block;
    width: auto;
  }


  @each $color-name, $hex in $default-buttons-colors {
    &--#{$color-name} {
      color: #fff;
      background-color: $hex;

      &:hover,
      &:focus {
        color: #fff;
        background-color: darken($hex, 10%);
      }

      &#{$block-name}--disabled,
      &:disabled {
        color: #fff;
        background-color: lighten($hex, 10%);
      }
    }
  }
}

@include generate-styles-bp(btn--expand){
  display: block;
  width: 100%;
};
@include generate-styles-bp(btn--auto){
  display: inline-block;
  width: auto;
};