// В этом файле должны быть стили только для БЭМ-блока article, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.article {
  $block-name:          &;
  &--white {
    color: $color-white;
    #{$block-name}__footer {
      border-top-color: $color-white;
    }
  }
  &__title {
    font-size: px-to-rem(24);
    line-height: normal;
  }
  &__subtitle {
    font-size: px-to-rem(20);
    line-height: normal;
  }
  &__content {
    margin-top: 1rem;
    p {
      text-align: justify;
      line-height: 1.25rem;
    }
  }

  &_image {
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    img {
      width: 100%;
      display: block;
    }
  }
  &__footer {
    border-top: 1px solid $color-orange;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
