// В этом файле должны быть стили только для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%) !default;

$text-color--muted:           hsl(0, 0%, 50%) !default;

.field-text {
  display: block;
  margin-bottom: $field-margin-bottom;
  font-size: 1rem;
  &__name {
    display: block;
    line-height: $line-height;
  }

  &__input-wrap {
    display: block;
  }

  &__input {

    appearance: textfield;
    @include field;
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; /* stylelint-disable-line  property-no-vendor-prefix */
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $text-color--muted;
      opacity: 1;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: px-to-rem(100);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
