// В этом файле должны быть стили только для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    cursor: pointer;

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    display: block;
    font-size: 1.25rem;
    position: relative;
    @include bp (lg) {
      display: inline-block;
    }
    &:last-child {
      #{$block-name}__link {
        margin-bottom: -$border-radius;
        padding: 0.625rem  1rem 0.875rem  1rem;
      }
    }

    &--active {
      #{$block-name}__link {
        background: $color-white;
        color: $color-orange;
        text-decoration: none;
        &:hover {
          color: darken($color-orange, 15%);
        }
      }
    }
  }

  &__link {
    display: block;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    padding: 0.625rem  1rem 0.625rem  1rem;
    color: $color-green;
    text-decoration: underline;
    @include bp (lg) {
      display: inline-block;
      margin-bottom: -$border-radius;
      padding: 0.625rem  1rem 0.875rem  1rem;
    }
    &:hover{
      color: darken($color-green, 15%);
    }
  }

  &__content-wrapper {
    display: block;
    padding: 1rem;
    background: $color-white;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}