// В этом файле должны быть стили только для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.logo {
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  &__img {
    width: 100%;
    height: auto;

  }
}
