// В этом файле должны быть стили только для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.logo {
  display: block;
  white-space: nowrap;
  display: inline-block;
  width: px-to-rem(200);
  height: px-to-rem(160);
  vertical-align: top;
  &__img {
    width: 100%;
    height: auto;
  }
}
