// В этом файле должны быть стили только для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.menu {
  $block-name: &;
  margin: 0;
  list-style: none;
  &__item {

    &--separator {

      &:not(:last-child) {

      }
    }
  }
  &--white {

    #{$block-name}__link {
      color: $color-white;
      &:hover,
      &:focus {
        color: $color-white;
      }
    }

  }
  &__link {
    color: $text-color;
    text-decoration : underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
