.box {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  padding: 1rem;
  &--white {
    background-color : $color-white;
  }
}
.spacer {
  padding-top: 1rem;
  &--2x {
    padding-top: 2rem
  }
}
.central {
  padding: 0 1rem;
  width: 100%;
  max-width: px-to-rem(960);
  &--hollow {
    padding: 0 1rem;
    @include bp(px-to-rem(992)) {
      padding: 0;
    }
  }
  @include bp(px-to-rem(992)) {
    margin-left: auto;
    margin-right: auto;
  }
}

// text coloring

$default-text-colors: (
    "gray-light": #F8F8F8,
    "gray"      : #898989,
    "white"     : #FFFFFF,
    "green"     : #70C051,
    "yellow"    : #FFC859,
    "orange"    : #F26829,
    "blue"      : #C1E0FF,
    "blue-dark" : #042550
) !default;

@each $color-name, $hex in $default-text-colors {
  .text-color-#{$color-name} {
    color: $hex;
  }
}

$default-text-align: (
    left,
    right,
    center,
    justify
) !default;

// text alignment

@each $align in $default-text-align {
  .text-#{$align} {
    text-align: $align;

    @each $breakpoint, $width in $default-grid-map {
      @media (min-width: $width) {
        &-#{$breakpoint} {
          text-align: $align;
        }
      }
    }
  }
}

// floats
  .left {
    float: left;
  }
  @include generate-styles-bp (left) {
    float: left;
  }
  .right {
    float: right;
  }
  @include generate-styles-bp (right) {
    float: right;
  }

// hidden block
  .hide {
    display: none;
  }
  @include generate-styles-bp (hide) {
    display: none;
  }
  .show {
    display : block;
  }
  @include generate-styles-bp (show) {
    display : block;
  }

.video {
  position: relative;
  padding: 28.125% 50%;
  iframe {
    position: absolute;
    top : 0;
    left : 0;
    right :0;
    bottom: 0;
    display : block;
    width : 100%;
    height :100%
  }
}